html {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg-mobile.png");
    background-size: cover;
    color: hsl(234, 100%, 93%);
    margin: 0;
}

body, .container {
    height: 100%;
}

.box-1 {
    display: flex;
    align-items: center;
    width: 326px;
    height: 201px;
    margin: 128px 25px 0px 24px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
}

.box-1-container {
    width: 176px;
    margin-left: 40px;
}

.logo {
    margin-bottom: 32px;
}

.icons  {
    display: flex;
    justify-content: space-around;
    width: 176px;
}

.docs, .folder, .upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: #0C122C;
    border-radius: 10px;
}


.box-2 {
    width: 326px;
    height: 154px;
    margin: 16px 25px 0px 24px;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px;
    font-family: "Raleway", sans-serif;
}

.used {
    padding-top: 40px;
    text-align: center;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0px;
}

.bar {
    display: flex;
    align-items: center;
    margin: 16px auto 0px auto;
    width: 262px;
    height: 20px;
    background-color: #0f1b3d;
    border-radius: 10px;
}

.inner-bar {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 3px;
    height: 14px;
    width: 190px;
    background-image: linear-gradient(to right, #ffa197, #ff4a95 );
    border-radius: 10px;
}

.dot {
    margin-right: 2px;
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
}

.values {
    display: flex;
    justify-content: space-between;
    margin: 8px 32px 0px 32px;
    font-weight: 800;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: 0px;
}

.remaining {
    margin: 8px auto 0 auto;
    text-align: center;
    width: 179px;
    height: 72px;
    line-height: 72px;
    background-color: #ffffff;
    border-radius: 10px;
    color: rgba(12, 18, 44, 0.5);
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 0px;
}

.remaining span {
    font-weight: 600;
    font-size: 40px;
    color: #0c122c;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}

.attribution a {
    text-decoration: none;
}

.attribution a:visited {
    color: #ffffff;
}